
*{
  box-sizing: border-box;
}

/* Color Theme Swatches in Hex 
.zen-and-tea-1-hex { color: #10222B; }
.zen-and-tea-2-hex { color: #95AB63; }
.zen-and-tea-3-hex { color: #BCD685; }
.zen-and-tea-4-hex { color: #E1F0D5; }
.zen-and-tea-5-hex { color: #F5FFE0; }*/

iframe {
  border-style: solid;
  border-color: red;
  
}

body {
  background-image: url(/img/meditation-sitdown.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 50px;
  font-family: 'Kaisei Opti', serif;
  color: #10222B;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 230px;
  margin-left: 300px;
  margin-right: 300px;
  border-bottom: solid 10px;
  border-color: #95AB63;
}

div.titleline {
  background-image: url(/img/hr-img.png);
  background-repeat: repeat-x repeat-y; 
  width: auto;
  height: 11px;
  margin-top: 8px;
  margin-bottom: 8px;
}

 h3{
  font-size: 25px;
  font-style:italic;
  color: #F5FFE0;
  text-align: center;
  margin-top: auto;
}

h4{
  font-size: 20px;
  font-family: 'Merienda', cursive;
  color: #10222B;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.card{
  flex: auto;
  opacity: 0.9;
  padding-bottom: 20px;
  background-color: #D5D8DE;
  margin-top: auto;
  
}

.button p {
      color: #95AB63;
      margin-top: 25px;
      font-family: 'Kaisei Opti', serif;
      text-align: center;
}


.button {
      background-color: #E1F0D5;
      margin: 0 auto;
      margin-top: 50px;
      height: 80px;
      width: 200px;
      border: none;
      padding: .3rem 1rem;
      
}