
*{
  box-sizing: border-box;
}

/* Color Theme Swatches in Hex 
.zen-and-tea-1-hex { color: #10222B; }
.zen-and-tea-2-hex { color: #95AB63; }
.zen-and-tea-3-hex { color: #BCD685; }
.zen-and-tea-4-hex { color: #E1F0D5; }
.zen-and-tea-5-hex { color: #F5FFE0; }*/



iframe {
  border-style: solid;
  border-color: red;
  
}

body {
  background-image: url(/img/meditation-sitdown.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 50px;
  color: black;
  text-align: center;
  margin-top: 230px;
}

 h3{
  font-size: 25px;
  color: black;
  text-align: center;
  margin-top: auto;
}

h4{
  font-size: 25px;
  color: black;
  text-align: center;
  margin-top: auto;
}

.card{
  flex: auto;
  opacity: 2;
  background-color: #D5D8DE;
  
}

/* button{
  margin: 0 auto;
 
} */